@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://db.onlinewebfonts.com/c/f2b1aab07eb23b6d43b85a429901087a?family=Kia+Signature+Regular');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Kia Signature Regular', sans-serif;
}

.inputStyle {
  @apply w-full p-4 text-gray-800 transition duration-200 bg-gray-100 border border-gray-300 rounded-lg outline-none focus:bg-white focus:border-black focus:ring-2 focus:ring-black/20 placeholder:text-gray-500;
}
